* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: space-between;


  background-color: rgb(41, 38, 38);
  /* border: 3px solid black; */
  color: rgb(201, 193, 193);
}

.section-p {
  display: flex;
  justify-content: center;
  padding: 7px;
  align-content: center;
  /* border: 2px solid red; */
}

.flags {
  /* border: 3px solid purple;  */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px 350px;
  min-width: 400px;
}

.divs-flags {
  text-align: center;
  background-color: rgb(223, 219, 219);
  border: 1px solid black;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  min-width: 150px;
  min-height: 200px;
  margin: 3px;
  box-shadow: 3px 3px rgb(179, 176, 199);
  flex-direction: column;
  padding-top: 8px;
  
  
}

hr {
  /* border: 1px solid green; */
  min-width: 200px;
  padding: 1px;
  background-color: rgb(87, 82, 82);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.foot {
  display: flex;
  justify-content: center;
  /* border: 3px solid red; */
}

