* {
    margin: 0;
  }
  
  #container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  
  #header-container {
    color: rgb(255, 0, 0);
    padding: 20px;
  }
  
  .emergency-tasks {
    display: inline-block;
    height: 400px;
    margin: 56px 0;
    width: 400px;
  }
  
  .emergency-tasks div {
    height: 198px;
  }
  .emergency-tasks h3 {
    color: rgb(158, 0, 0);
    margin-top: 10px;
    padding: 10px;
  }
  
  .no-emergency-tasks {
    display: inline-block;
    height: 400px;
    width: 400px;
  }
  
  .no-emergency-tasks div {
    height: 198px;
  }
  
  .no-emergency-tasks h3 {
    color: rgb(0, 100, 5);
    margin-top: 10px;
    padding: 10px;
  }
  
  #footer-container {
    color: white;
    font-weight: 500;
    padding: 50px;
    text-align: center;
  }

  p {
      margin: 5px;
  }